:root {
  font-size: 10px;
  --bg: #000000;
  --bg-card: #0e1218;
  --text: #f1f1f1;
  --img-profile: #8257e5;
  --buttons: #fff;
  --border-button: #1a1a1a;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Prompt", sans-serif;
  color: var(--text);
  background-color: var(--bg-card);
}

main {
  margin-inline: auto;
  max-width: 1600px;
  padding: 106px 261px 120px 366px;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  gap: 146px;
}

main > #card-container {
  flex-basis: 438px;
  flex-shrink: 0;
  height: 693px;
}

#card-container > h2 {
  text-align: center;
  font-size: 2rem;
  line-height: 1.5rem;
  color: var(--buttons);
  margin-bottom: 25px;
}

#card-container > #card-wrapper {
  border-radius: 50px;
  background-color: var(--bg);
  height: calc(100% - 15px);
  padding: 24px 15px;
}

#card {
  background-color: var(--bg-card);
  height: 100%;
  border-radius: 50px;
  padding: 27px 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
#card > * {
  flex-shrink: 0;
}

#card > header {
  flex-grow: 1;
  display: flex;
  justify-content: ;
  align-items: flex-start;
}
#card > header > div {
  width: 55px;
  height: 55px;
  padding: 9px 12px;
  border-radius: 50%;
  border: 1px solid var(--text);
}

#card > header > div > img {
  width: 100%;
  height: 100%;
  display: inline-block;
  object-fit: contain;
}

#card > header > h3 {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 24px;
  line-height: 1.5;
}
#card > footer {
  margin-top: 35px;
}

#card > img {
  z-index: 0;
  width: 380px;
  height: 380px;
  top: 104px;
  left: 76px;
  position: absolute;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid var(--img-profile);
}

/* customize */
main > #customize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 33px;
}

#customize > h2 {
  font-size: 2rem;
  line-height: 1.5;
}
#customize > button {
  border: 2px solid var(--border-button);
  border-radius: 15px;
  background-color: var(--bg);
  padding: 18px 46px;
  font-size: 15px;
  line-height: 1.5;
  color: var(--buttons);
  transition: all 200ms ease-in-out;
}

#customize > button:hover {
  background-color: var(--border-button);
  border-color: var(--bg);
}

#card ul {
  padding: 33px 20px;
  background: linear-gradient(
    180deg,
    #000000 3.65%,
    rgba(70, 69, 69, 0.72) 53.65%,
    rgba(62, 56, 56, 0.42) 100%
  );
  border-radius: 50px;
  z-index: 1;
  position: relative;
}

#card ul > li {
  font-size: 1.6rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 8px;
}

#card > footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

#card > footer > img {
  width: 28px;
}
#card > footer > p {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.5;
}

@media (max-width: 1400px) {
  main {
    margin-inline: auto;
    max-width: 1600px;
    padding: 106px 56px 120px 60px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 146px;
  }
}

@media (max-width: 950px) {
  main {
    margin-inline: auto;
    max-width: 1600px;
    padding: 120px 25px 120px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
  }
  main > #card-container {
    flex-basis: 708px;
    max-width: 50%;
    min-width: 400px;
    margin-inline: auto;
  }
}
